In [2]:
import pandas as pd, numpy as np, seaborn as sns, matplotlib.pyplot as plt, snoop, matplotlib
from pprint import pprint as print

matplotlib.style.use("seaborn-whitegrid")
pd.set_option("display.width", 5000)
pd.set_option("display.max_columns", 60)
plt.rcParams["figure.figsize"] = (15, 10)

%load_ext snoop
%config InlineBackend.figure_format = 'retina'
# %config InlineBackend.figure_format = 'svg' 

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.simplefilter('ignore')
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
cred = {
    "host": 'localhost',
    'dbname': 'yukontaf',
    'user': 'glebsokolov',
    'password': ''
}
from sqlalchemy import create_engine

con = create_engine(
    f'postgresql://{cred["user"]}:{cred["password"]}@{cred["host"]}/{cred["dbname"]}'
)


def select(sql, con):
    with open(sql) as f:
        return pd.read_sql(f.read(), con)

In [8]:
df = select("req.sql", con)
df

      index  id_client  id_global  id_city gender married  first_time    age  is_educ       cellphone  is_active  cl_segm  amt_loan   date_loan credit_type  index  id_city name_city  id_region name_region
0       448        169   3996.000    1.000      M   False       0.000 69.000    1.000 89035857514.000      1.000    2.000    110000  2021-04-08       POS-1  2.000    1.000    Москва    111.000       Центр
1       449       1622   1771.000    1.000      M   False       1.000 69.000    1.000             NaN      1.000    2.000    110000  2019-09-14       POS-1  2.000    1.000    Москва    111.000       Центр
2      1647       2508   3595.000    1.000      F   False       1.000 33.000    0.000 89032425162.000      1.000    2.000    200000  2020-05-18       POS-1  2.000    1.000    Москва    111.000       Центр
3       923       2303   1610.000    1.000      M   False       1.000 52.000    1.000             NaN      1.000    2.000    250000  2018-07-21          CC  2.000    1.000    Москва    111.000       Центр
4       994         40   3851.000    1.000      F   False       1.000 49.000    1.000 89852320412.000      1.000    2.000     50000  2020-01-04       POS-1  2.000    1.000    Москва    111.000       Центр
...     ...        ...        ...      ...    ...     ...         ...    ...      ...             ...        ...      ...       ...         ...         ...    ...      ...       ...        ...         ...
2992   2594       2060   1005.000      NaN      F   False       1.000 29.000    1.000             NaN        NaN      NaN     40000  2020-07-28       POS-1    NaN      NaN      None        NaN        None
2993   1805        908        NaN      NaN   None    None         NaN    NaN      NaN             NaN        NaN      NaN    250000  2019-08-20        test    NaN      NaN      None        NaN        None
2994   1742       1474   3537.000      NaN      F   False       1.000 60.000    1.000 89854924721.000      1.000    2.000    200000  2019-03-10       POS-1    NaN      NaN      None        NaN        None
2995   1165       1066   3114.000      NaN      M   False       1.000 38.000    1.000 89038140569.000      1.000    2.000    880000  2020-04-01      TOP-UP    NaN      NaN      None        NaN        None
2996    603       2120   1060.000      NaN   None    None         NaN    NaN      NaN             NaN        NaN      NaN    880000  2018-07-16       POS-1    NaN      NaN      None        NaN        None

[2997 rows x 20 columns]